header {
  height: 250px;
  width: 100%;
  background-color: crimson;
}

.content {
  height: 250px;
  background-color: black;
  float: left;
  width: 60%;
}

.middle {
  height: 250px;
  background-color: chartreuse;
  float: left;
  width: 20%;
}

.sidebar {
  height: 250px;
  background-color: burlywood;
  float: left;
  width: 20%;
}

footer {
  height: 250px;
  width: 100%;
  background-color: darkgrey;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
